
body {
  font-family: Arial, sans-serif;
  background: #0a7aea;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}


.widget {
  background: #f1eff59a;
  padding: 35px;
  border-radius: 90px;
  box-shadow: 0 4px 10px rgba(240, 232, 232, 0.1);
}

.big-text {
  font-size: 32px;
  text-align: center;
  margin: 10px 0;
}

textarea {
  width: 100%;
  height: 80px;
}

input {
  width: 70%;
  padding: 5px;
}

button {
  padding: 8px 10px;
  margin-top: 5px;
  margin-left: 20px;
  cursor: pointer;
  background: #0a7aea;
  color: white;
  border: none;
  border-radius: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}
